<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <title>3小时入门Django 开发</title>
</head>
<body>
    
    <div class="container page-header">
      <h1>3小时入门Django 开发</h1>
      <small>by Qi Cong</small>
    </div>

    <div class="container page-body">

        <div class="col-md-9" role="main">
            <div class="h2">文章标题 1</div>
            <div class="p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, sint officia? Officia, dolore? Autem inventore similique nobis rem facere. Vitae maiores ducimus dolores nulla dolorum nostrum ullam, ex fugiat nihil!</div>
            <div class="h2">文章标题 2</div>
            <div class="p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda asperiores nemo nam molestiae dignissimos ipsam eos qui reprehenderit vel, expedita a, cumque cum illum consequatur quasi eaque sint hic voluptatem?</div>
        </div>

        <div class="col-md-3" role="complementary">
            <div class="list-group">
                <a href="#" class="list-group-item active">文章 1</a>
                <a href="#" class="list-group-item">文章 2</a>
                <a href="#" class="list-group-item">文章 3</a>
                <a href="#" class="list-group-item">文章 4</a>
                <a href="#" class="list-group-item">文章 5</a>
                <a href="#" class="list-group-item">文章 6</a>
                <a href="#" class="list-group-item">文章 7</a>
                <a href="#" class="list-group-item">文章 8</a>
                <a href="#" class="list-group-item">文章 9</a>
                <a href="#" class="list-group-item">文章 10</a>
            </div>
        </div>

    </div>
    
</body>
</html>