body {
    background-image: url(../img/4.png)
}

.search {
    height: 120px;
}

.search .search-frame-wrap {
    height: 40px;
}

.search .search-frame-wrap .search-frame {
    height: 100%;
    border-radius: 10em 10em 10em 10em
}

.search .search-frame-wrap i {
    color: #707070;
}

.search .search-frame-wrap .la {
    display: inline-block;
}

